<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div class="container">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">WORD</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="item:${pageDTO.content}">
	      <th scope="row" th:text="${item.id}">1</th>
	      <td th:text="${item.word}">Mark</td>
	    </tr>
	  </tbody>
	</table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${pageDTO.page == 1} ? 'disabled'">
      <a class="page-link" th:href="@{/words(page=${pageDTO.page - 1}, size=${pageDTO.size})}">Previous</a>
    </li>
    <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, pageDTO.totalPages)}" th:classappend="${pageNum == pageDTO.page} ? 'active'">
    	<a class="page-link" th:href="@{/words(page=${pageNum}, size=${pageDTO.size})}" th:text="${pageNum}">1</a>
    </li>
    <li class="page-item" th:classappend="${pageDTO.page == pageDTO.totalPages} ? 'disabled'">
    	<a class="page-link" th:href="@{/words(page=${pageDTO.page + 1}, size = ${pageDTO.size})}">Next</a>
    </li>
  </ul>
</nav>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>